@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  }
}

@layer base {
  @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Gilroy-Bold.ttf');
  }
}

@layer base {
  @font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Gilroy-Light.ttf');
  }
}

@layer base {
  @font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Gilroy-Regular.ttf');
  }
}

@layer base {
  @font-face {
    font-family: 'Gilroy-SemiboldItalic';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Gilroy-SemiBoldItalic.ttf');
  }
}

@layer base {
  @font-face {
    font-family: 'Classy-Vogue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/ClassyVoguePersonalUse.otf');
  }
}

@layer base {
  @font-face {
    font-family: 'Sequel-Sans-Light-Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Sequel-Sans-Light-Disp.otf');
  }
}

@layer base {
  @font-face {
    font-family: 'Sequel-Sans-Medium-Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Sequel-Sans-Light-Disp.otf');
  }
}

@layer base {
  @font-face {
    font-family: 'Sequel-Sans-Bold-Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Sequel-Sans-Bold-Disp.otf');
  }
}

@layer base {
  @font-face {
    font-family: 'Sequel-Sans-Semi-Bold-Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/font/Sequel-Sans-Semi-Bold-Disp.otf');
  }
}
